---
layout: default
---

<!-- content -->
<div id="content">
  <div class="header">
    <a name="users" id="#candidate"></a>
    <div class="pull-right">
      <div data-href="http://twunbound.github.io/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true" class="fb-like"></div>
    </div>
    <h2>我們所"看見"的候選人</h2>
    <h3>一步一腳印的為您呈現，鏡頭外的候選人。</h3>
  </div>
  <hr>

  {% for post in site.post %}
    <div class="row news-item {{ post.party }}">
      <div class="col-xs-12 col-sm-4 col-md-3">
        <a href="/view/{{ post.id }}" class="thumbnail">
          <img src="/{{ post.ogimg }}" alt="{{ post.person }}">
        </a>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9">
        <a href="/view/{{ post.id }}">
          <h3 class="news-item-title">{{ post.title }}</h3>
        </a>
        <abbr class="news-item-date">{{ post.date | date: "%Y/%m/%d %H:%M" }}</abbr>
        <a href="/view/{{ post.id }}">
          <p class="news-item-abstract">
            {{ post.content | strip_html | truncatewords: 3 }}
          </p>
        </a>

        {% if post.party %}
          <span class="label label-success">
            {% if post.party == "greensdparty" %}
              綠社盟
            {% elsif post.party == "newpowerparty" %}
              時代力量
            {% endif %}
          </span>
        {% endif %}
        <span></span>
        {% for tag in post.tags %}
          <span class="label label-success">
            {{ tag }}
          </span>
          <span></span>
        {% endfor %}
      </div>
    </div>
  {% endfor %}

  </div>
  <hr>
  <div class="row news-item">
    <div class="col-xs-12">
      <script src="https://gumroad.com/js/gumroad.js"></script><a href="https://gum.co/youngp/free" target="_blank" class="gumroad-button">下載電子書</a>
    </div>
  </div>
</div>
<!-- ENDS content-->
<div class="clearfix"></div>
<div class="shadow-main"></div>
