<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- JS -->
<meta name="description" content="2016大選的意義，不僅在於執政的政黨可能輪替，而更在於立法院所代表的國會可能如何改革。對於國會改革，許多人都相信：國民黨需要教訓、民進黨需要制衡、代表年輕世代的第三力量要展現。這個計劃，就是希望能提供目前沒有資源、沒有人力的年輕改革力量一些支援，讓他們在做的事情得到多一些曝光的機會，使得期待改革的人能看到年輕人正在做些什麼，也使得進行改革的年輕人能得到期待改革的人的支持。" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<!-- ENDS Flex Slider -->
<!--[if IE 6]>
<link rel="stylesheet" href="css/ie6-hacks.css" media="screen">
<script src="js/DD_belatedPNG.js"></script>
<script>/* EXAMPLE */ DD_belatedPNG.fix('*');</script>
<![endif]-->
<!-- Lessgrid -->
<link rel="stylesheet" media="all" href="/css/lessgrid.css">
<link rel="stylesheet" media="all" href="/css/style.css">
